name: "Send email after workflow"

on:
    workflow_dispatch:
    
jobs:
    send_email:
        runs-on: ubuntu-latest
        steps:
            - name: "Checkout code"
              uses: actions/checkout@v2

            - name: "Setup python env"
              uses: actions/setup@v2
              with:
                python-version: '3.x'
            
                - name: "Install dependencies"
              rin:
                python -m pip install --upgrade pip
            

            - name: "Send mail by executing python script"
              run: python script.py
              env: 
                WORKFLOW_NAME: ${{ github.workflow }}
                REPO_NAME: ${{ github.repositry }}
                WORKFLOW_RUN_ID: ${{ github.run_id }}
                SENDER_PASSWORD: ${{ secrets.SENDER_PASSWORD }} 
                SENDER_EMAIL: ${{ secrets.SENDER_EMAIL }}
                RECEVIER_EMAIL: ${{ secrets.RECEVIER_EMAIL }}